@use "variables";

@mixin card($urlImage) {
  background: {
    image: url($urlImage);
    size: contain;
    repeat: no-repeat;
  }
  color: variables.$White;
  width: 287px;
  height: 157px;
  padding: 17px 20px 20px 20px;

  @media (min-width: 1440px) {
    width: 450px;
    height: 247px;
    padding: 30px;
  }
}

@mixin cardPosition($topMobile, $leftMobile, $topDesktop, $leftDesktop) {
  position: absolute;
  top: $topMobile; 
  left: $leftMobile;

  @media (min-width: 1440px) {
    top: $topDesktop;
    left: $leftDesktop;
  }
}
