@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

// (active input border)
$Linear-gradient-blue: rgb(100, 72, 254);
$Linear-gradient-purple: rgb(96, 5, 148);
$Red : rgb(255, 82, 82); // (input errors)
$White: rgb(255, 255, 255);
$Light-grayish-violet: rgb(222, 221, 223);
$Dark-grayish-violet: rgb(142, 133, 147);
$Very-dark-violet: rgb(33, 9, 47);

$font: 'Space Grotesk', sans-serif;